.App {
  text-align: left;
}

.Logo-section {
  display: flex;
  align-items: center;
}

.App-logo {
  height: 180px; /* Adjust logo size as needed */
  margin-right: 10px;
}

.Dashboard-title {
  color: red;
  font-size: 44px;
}

header {
  position: relative; /* Ensure header is positioned relative to its parent */
  z-index: 1; /* Set a lower z-index than .Notifications */
}

.Divider {
  width: 100%;
  height: 2px;
  background-color: red;
  border: none;
}

.Login-message {
  color: black;
  margin-left: 35px; /* Adjust distance from left edge as needed */
  font-size: 23px;
  margin-top: 40px;
}

.App-footer {
  text-align: center;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.Copyright {
  color: black;
  font-size: 20px;
  font-style: italic;
}

/* Added class for horizontal arrangement */
.form-fields {
  display: flex;
  flex-direction: row; /* Change to column for vertical arrangement */
  align-items: center;
  margin-left: 35px; /* Align items to the left */
}

.form-fields label {
  font-weight: bold; /* Make email and password labels bold */
}
