/* Establecer el texto del contador a la derecha del botón y en negrita */
#count {
  font-weight: bold;
  margin-left: 10px; /* Ajusta el margen a tu preferencia */
}

/* Establecer el tamaño y la posición del logo */
#logo {
  width: 200px;
  height: 200px;
  background-image: url('../assets/holberton-logo.jpg'); /* Ruta a la imagen del logo */
  background-size: cover; /* Ajustar tamaño de la imagen */
  background-position: center; /* Centrar la imagen */
}
